
     /$$
    | $$
    | $$       /$$   /$$ /$$$$$$$   /$$$$$$   /$$$$$$
    | $$      | $$  | $$| $$__  $$ /$$__  $$ /$$__  $$
    | $$      | $$  | $$| $$  \ $$| $$  \ $$| $$  \ $$
    | $$      | $$  | $$| $$  | $$| $$  | $$| $$  | $$
    | $$$$$$$$|  $$$$$$/| $$  | $$|  $$$$$$$|  $$$$$$/
    |________/ \______/ |__/  |__/ \____  $$ \______/
                                   /$$  \ $$
                                  |  $$$$$$/
                                   \______/

Usage:

    lungo <command> <options>

Commands:

    {{commands}}

Example:

    $ lungo init myProject
    $ lungo init myProject --server
    $ lungo install monocle
    $ lungo server
    $ lungo server app/
    $ lungo update
    $ lungo update monocle
    $ lungo build myProject
    $ lungo build myProject app/
    $ lungo help
