
  _                           _                      _             _
 | |_   _ _ __   __ _  ___   | |_ ___ _ __ _ __ ___ (_)_ __   __ _| |
 | | | | | '_ \ / _` |/ _ \  | __/ _ \ '__| '_ ` _ \| | '_ \ / _` | |
 | | |_| | | | | (_| | (_) | | ||  __/ |  | | | | | | | | | | (_| | |
 |_|\__,_|_| |_|\__, |\___/   \__\___|_|  |_| |_| |_|_|_| |_|\__,_|_|
                |___/

Usage:
    lungo <command> <options>

Commands:
    {{commands}}

Example:
    $ lungo init myProject
    $ lungo init myProject --server
    $ lungo install monocle
    $ lungo server
    $ lungo server app/
    $ lungo update
    $ lungo update monocle
    $ lungo build myProject
    $ lungo build myProject app/
    $ lungo help
